root = true


[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,groovy}]
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 9999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_layout_static_imports_separately = true


[*.properties]
#latin1 alias for ISO-8859-1
charset = latin1
